.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333333;
}

#question-container {
  margin-top: 20px;
  font-size: 24px;
  color: #333333;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#navigation-buttons {
  margin-top: 20px;
}

#navigation-buttons button {
  margin-right: 10px;
}

#score-container {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
}

.selected {
  background-color: #2196F3;
}

.correct {
  background-color: #4CAF50;
}

.wrong {
  background-color: #F44336;
}

#restart-button::before {
  content: "\21BA";
  display: inline-block;
  margin-right: 5px;
}

#next-button::before {
  content: "\279C";
  display: inline-block;
  margin-right: 5px;
}

#previous-button::before {
  content: "\279C";
  display: inline-block;
  margin-right: 5px;
  transform: rotateY(180deg);
}

.correct-answer::before {
  content: "\2714";
  display: inline-block;
  margin-right: 5px;
}

.wrong::before {
  content: "\2717";
  display: inline-block;
  margin-right: 5px;
}

/* Footer styles */
footer {
  background-color: #f8f8f8;
  color: #888888;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333333;
}

.social-icons i {
  font-size: 24px;
  transition: color 0.2s;
}

.social-icons a:hover i {
  color: #171b82;
}

.social-icons a.linkedin:hover i {
  color: #0A66C2;
}

.social-icons a.twitter:hover i {
  color: #00acee;
}

.social-icons a.email:hover i {
  color: #171b82;
}

/* Add animation to the social icons on hover */
.social-icons a:hover i {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}